.list {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid #eee;
  text-align: center;
  width: 225px;


  &Item {
    padding: 7px 0;
    list-style-type: none;
    width: 100%;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    word-break: break-word;
  
      &Selected {
        background-color: #eee;
      }
  
  }
}

