.timer {
  width: 200px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;

  &Title {
    margin: 0;
    text-transform: uppercase;
  }

  &Time {
    font-size: 50px;
    min-width: 50px;
  }

  &Separator {
    margin: 0 10px;
  }

  &RedFont {
    color: red;
  }

  &Btn {
    padding: 10px 20px;
    background-color: #0071f0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  &Wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }

  &Min {
    display: flex;
    flex-direction: column;

    &Wrapper {
      margin: 12px 0;
    }

    &Arrow {
      position: absolute;
      border: 12px solid transparent;
      border-top: 10px solid black;
      cursor: pointer;

      &Up {
        top: -12px;
        left: 6px;
        transform: rotate(180deg);
      }

      &Down {
        top: 75px;
        left: 6px;
      }
    }
  }
}

.greenBg {
  background: radial-gradient(green, transparent);
}
